@import "tailwindcss";

@theme {
  --font-sans: "Inter", system-ui, -apple-system, sans-serif;
  --font-mono: "SF Mono", "Fira Code", "Fira Mono", Menlo, monospace;

  --color-base-50: oklch(0.985 0 0);
  --color-base-100: oklch(0.967 0.001 286.375);
  --color-base-200: oklch(0.92 0.004 286.32);
  --color-base-300: oklch(0.871 0.006 286.286);
  --color-base-400: oklch(0.705 0.015 286.067);
  --color-base-500: oklch(0.552 0.016 285.938);
  --color-base-600: oklch(0.442 0.017 285.786);
  --color-base-700: oklch(0.37 0.013 285.805);
  --color-base-800: oklch(0.274 0.006 286.033);
  --color-base-900: oklch(0.21 0.006 285.885);
  --color-base-950: oklch(0.141 0.005 285.823);
}
